@{
    ViewBag.Title = "Home Page";
}


<br />
<br />
<br />
<div class="jumbotron">
    <h1>ITI|Alameer Ashraf</h1>
    <p class="lead">Aim to work in a challenging work environment where I can utilize my expertise in technical skills, towards
the development and implementation of the new ideas, contributing to growth of the organization.
I have a very good experience in dealing with the concepts and techniques of building interactive software
pieces including software engineering skills, hard coding, very good interaction with algorithms and data
structures and treating with different programming platforms</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">

 
  
</div>